statemachine/state.json
{
  "StartAt": "SplitAndSlice",
  "States": {
    "SplitAndSlice": {
      "Type": "Pass",
      "Result": {
        "input1_parts": { "Fn::Split": ["/", "States.Input.data1"] },
        "input2_parts": { "Fn::Split": ["/", "States.Input.data2"] }
      },
      "ResultPath": "$.sliced_data",
      "Next": "CombineParts"
    },
    "CombineParts": {
      "Type": "Pass",
      "Result": {
        "combined_data": {
          "Fn::Sub": "${sliced_data.input2_parts[0]}${sliced_data.input1_parts[1]}"
        }
      },
      "ResultPath": "$.combined_data",
      "End": true
    }
  }
}


{
  "StartAt": "ExtractSubstring",
  "States": {
    "ExtractSubstring": {
      "Type": "Pass",
      "Result": {
        "input1": "test/c020_type",
        "input2": "data_c"
      },
      "ResultPath": "$.inputs",
      "Next": "ExtractedSubstring"
    },
    "ExtractedSubstring": {
      "Type": "Pass",
      "Result": {
        "substring1": {
          "Fn::Select": [1, { "Fn::Split": ["/", { "Fn::GetAtt": ["ExtractSubstring", "ResultPath"] }] }]
        },
        "substring2": {
          "Fn::Sub": "${$.inputs.input2.substring(0, 4)}"
        },
        "output": {
          "Fn::Sub": "${substring2}${substring1}"
        }
      },
      "ResultPath": "$.output",
      "End": true
    }
  }
}
